<!doctype html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="New Baseline">
  <meta name="description" content="A machine learning app to classify clothing.">
  <meta name="keywords" content="fashionista,ml,ai,classification,predictions">

  <title>Fashionista | Classify Clothing</title>

  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <header>
    <div class="wrapper">
      <a class="logo" href="/"><img src="/static/logo.png"></a>
      <nav>
      </nav>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <p>Draw a clothing item (shirt, pants, shoes etc.) and see if our machine learning model can detect it.</p>
      
      <div id="frame">
        <div id="overlay">
          <div id="overlay-inner">
          </div>
        </div>
        <canvas id="paint"></canvas>
      </div>

      <canvas id="scaled"></canvas>
      <a class="button" href="#" onclick="predict()">Predict</a>
      <div class="predictions">
        <h1 id="prediction-label"></h1>
        <canvas id="prediction-image"></canvas>
        <p id="prediction-scores">
        </p>
      </div>
    </div>
  </main>

  <script src="/static/app.js"></script>
</body>
